@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 60px;
  --drawer-width: 180px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dashboard-layout {
  display: grid;
  grid-template-columns: var(--drawer-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas: "header header"
                        "drawer main";
}

aside.dashboard-layout__drawer {
  grid-area: drawer;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
}

header.dashboard-layout__header {
  grid-area: header;
}

main.dashboard-layout__main {
  grid-area: main;
}

